html, body {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif
			-webkit-backface-visibility: hidden;
		}
		* {
			box-sizing: inherit;
		}
		h1 {
			text-align: center;
		}
		svg {
			margin:auto;
			display:block;
		}
		.center{
			text-align: center;
		}
		.circle-overlay {
			font-size: 20px;
			border-radius: 10%;
			position: absolute;
			overflow: hidden;
			color: white;
			/*it's buggy with the foreignObject background right now*/
			/*background-color: rgba(255,255,255,0.5);*/
		}
		.circle-overlay__inner {
			text-align: center;
			width: 100%;
			height: 100%;
		}

		.hidden {
			display: none;
		}
		.node-icon--faded {
			opacity: 0;
		}
		.legend-size circle {
			fill: rgb(31, 119, 180);
		}