.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  cursor: pointer;
}
.common_fade{
	opacity: 0.2;
}
.rect_check{
	cursor: pointer;}

.tooltip_cr {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}